


 <div class="bg-img" style="direction: rtl;height: 666px;">
    <div class="col-12 text-right p-3">
      <img src="../assets/imgs/logoPNG.PNG" alt="">
  
    </div>
    <div class="col-12 pt-5">
      <h1 class="text-center text-white text-size">
        مرحبا بكم في مسايا
      </h1>
      <h2 class="text-center text-white text-size2">
  
        Welcome to MASSAY
      </h2>
      <h3 class="text-center text-white ">
        الاستقبال
      </h3>
      <h3 class="text-center text-white ">
        Reception
      </h3>
      <h4 class="text-center text-white text-size3">
  
        للحجز أو الاستعلام
      </h4>
      <h4 class="text-center text-white text-size3">
  
  
        Reservations and inquiries
      </h4>
    </div>
  
    <div class="col-12 text-center pb-5">
      <div data-toggle="modal" data-target="#exampleModal"  >
        <a>
  
          <img src="../assets/imgs/button.PNG" alt="" width="350" style="border-radius: 25px;cursor:pointer">
        </a>
      </div>
    
   
      <!-- <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#exampleModal" > Call</button> -->
    </div>
  </div>
  
  
  
  <div class="modal fade" id="exampleModal"  tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          
          
         
          <iframe src="https://tokbox.com/embed/embed/ot-embed.js?embedId=a3171760-8690-4c18-b185-d64d1ed7c70f&room=DEFAULT_ROOM&iframe=true" width="100%" height="630px" scrolling="hidden"
            allow="microphone; camera" ></iframe>
        </div>
      
      </div>
     </div>
  </div>
  