.carousel-indicators li{
    width: 10px;
    height: 10px;   
    border-radius: 100%;
}

.btn-primary{
    background-color: #900093 !important;
    border-color: #ffff;
}

.mt-6{
    margin-top: 6rem !important;

}

.card{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(144,0,147,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(144,0,147,1);
box-shadow: 0px 0px 5px 0px rgba(144,0,147,1);
}

.btn{
    border-radius: 0;
}